<main>
<h1>Edit recipe!</h1>


<div id="edit-form" class="recipe-container-show">

	<div id="img-preview">
			<img src="{{recipe.image}}">
	</div>	
<form action="{{recipe.id}}?_method=PUT" method="POST">
	{{!-- <div><select  name="category">
		<option value="body">Body</option>
		<option value="hair">Hair</option>
		<option value="face">Face</option>
		<option value="makeup">Makeup</option>
		<option value="home">Home</option>
		<option value="bath">Bath</option>
	</select></div> --}}
	<div><input type="text" name="title" placeholder="Title" value={{recipe.title}}></div>
	<div><input type="text" name="image" placeholder="Image" value={{recipe.image}}></div>
    <div><input type="textarea" name="description" placeholder="Desecription" value={{recipe.description}}></div>
	<div><input type="text" name="prep time" placeholder="Prep Time" value={{recipe.preptime}}></div>
	<div><input type="text" name="ingredients" placeholder="Ingredients" value={{recipe.ingredients}}></div>
    <div><input type="textarea" name="directions" placeholder="Directions" value={{recipe.directions}}></div>
    <div><input type="submit" value="Submit">
</form>
		

</div>
<a href="/">Return to Home Page</a>
</main>

  