<main>
<h1>Edit recipe!</h1>

<form action="/recipes/{{recipe._id}}?_method=PUT" method="POST">
	<input type="text" name="recipe[name]" placeholder="Title" value={{recipe.title}}>
	<input type="text" name="recipe[img]" placeholder={{recipe.image}}>
    <input type="textarea" name="recipe[description]" placeholder="Description">{{recipe.description}}
	<input type="text" name="recipe[prep time]" placeholder={{recipe.preptime}}>
	<input type="text" name="recipe[ingredients]" placeholder="Ingredients">{{recipe.ingredients}}
    <input type="textarea" name="recipe[directions]" placeholder="'Directions">{{recipe.directions}}
    <input type="submit" value="Submit">
</form>
</main>
  