{{!-- shows all Recipes --}}
<header>
<h1>Recipes</h1>
<h2><a href="/recipes/new">Add a Recipe</a></h2>
</header>
<main class="mainArticle">
{{#each recipes}}
<a href="/recipes/{{id}}" class="article">
<img>
<li>Title: {{title}}</li>
<li>Description: {{description}}</li>
<li>Ingredients: {{ingredients}}</li>
<li>Directions: {{directions}}</li>
</a>
{{/each}}
</main>