<main>
    <h2>{{recipe.title}}</h2>
    <div>image:
        {{recipe.image}}</div>
    <div>description:
         {{recipe.descriptio}}</div>
    <div>preptime: 
        {{recipe.preptime}}</div>
    <div>ingredients:
        {{recipe.ingredients}}</div>
    <div>directions:
         {{recipe.directions}}</div>

<div>
<a href="{{recipe._id}}/edit">
<button>Edit</button></a>
</div>
<div>
<form action="{{recipe.id}}" ?_method="DELETE">
<input type="submit" value="Delete"></form>
</div>
</main>