<h1>My Recipe:</h1>

<div>{{recipe.id}}</div>
<div>
     <label>Recipe Name:</label><br>
     {{recipe.title}}
</div>
<div>
     <label>Description:</label><br>
    {{recipe.description}}
</div>
<div>
     <label>Image URL:</label><br>
    {{recipe.imageUrl}}
</div>

<div>
     <label>Ingredients:</label><br>
    {{recipe.ingredients}}
</div>
 <div>
     <label>Directions:</label><br>
    {{recipe.directions}}
</div>
<div>
    <label>Created At:</label><br>
    {{recipe.created_at}}
</div>
<div>
    <label>Updated At:</label><br>
    {{recipe.updated_at}}
</div>
<a href="/users/{{userId}}/recipes/{{recipe.id}}/edit"><button class="btn">Edit My Recipe</button></a>
<a href="/users/{{userId}}/recipes/{{recipe._id}}/delete"><button class="btn delete">Delete {{recipe.name}}</button></a>
<a href="/users/{{userId}}/recipes"><button class="btn secondary">Go back</button></a>















